#caja1{
    width: 100px;
    height: 70px;
    display: block;
    background-color: aquamarine;
    }
#caja2{
    width: 150px;
    height: 100px;
    display: block;
    background-color: blueviolet;
    }
#caja3{
    width: 130px;
    height: 90px;
    display: block;
    background-color: blue;
    }