body{   
    margin: 0;  
    padding: 0;
}

header{ 
    padding: 30px; 
    background-color: blueviolet;   
    color: black;   
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}   

.menu{ 
    height: 100%;   
    display: grid;  
    grid-template-columns: repeat(3, 1fr);  
    justify-content:  center; /*centrar los elementos horizontalmente*/ 
    align-items: center; /*centrar los elementos verticalmente*/ 
    background-color: antiquewhite;
}   
.centro{ 
    grid-column: 2;/* coloca el elemento en la segunda columna*/ 
}   
.centro a{  
    text-align: center; 
    text-decoration: none;  
    padding: 10px;
    color: black;
}   
.centro a:hover{
    background-color: rgb(184, 114, 193);
}