css
body{   
    background-color: linear-gradient(red, rgb(126, 20, 20);
}
.container{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja{
width: 30px;
height: 20px;
background-color: linear-gradient(to right, #ff6b6b, #ffa500);
overflow: hidden;
transition: transform 0.5s ease;
}
.caja{
width: 10%;
height: 10%;
object-fit: cover;
transition: transform 0.5s ease;
}
.caja{
transform: scale(1.2);
}